<header>
        <% if (signedIn) { %>
            <div><a href="/">Home</a>  | <a href="/dashboard">Dashboard</a></div>
            <div>
                <%= userEmail %> 
                <a href="#" id="_sign_user_out">Log Out</a>
            </div>
            
        <% } else { %>
            <div><a href="/">Home</a></div>
            <div><a href="/signup">Register</a> <a href="/signin">Log In</a></div>
         <% } %> 

</header>